<a href="https://colab.research.google.com/github/nuageklow/WWCodePython/blob/master/OneLineCoding/colab_notebooks/WWCode_Python_One_Liners_Intermediate_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to *‚ú® Less is more: How to code python in one line ‚ú®* !
**Session 2: Intermediate level: part 1**

Hosted by Women Who Code Python Track

**Using Google Colab**

To execute code throughout this Google Colab notebook, please click File -> Save a copy in drive

#### Zen of Python

A Pythoneer named **Tim Peters** once wrote 19 principles stating how one can write beautiful and clean code with Python. Came to be known as the **Zen of Python**. The guidelines motivate programmers to write simple, readable, and clean code.

Being a developer, writing code and making it run is not the only job to do. Python is known for its readability and simplicity. Writing clean and readable code is an art which is appreciated by other programmers and let them understand every bit.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### üëâüèº Printing patterns

####Multi-line code

In [ ]:
n = 5 
for i in range(0, n):    
        for j in range(0, i + 1):  
            print("üòÄ", end="")       
        print()

####One-line code using **join** method.

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

In [ ]:
n=5
print('\n'.join('üòÄ' * i for i in range(1,n+1)))

In [ ]:
#example
# print inverted triangle pattern of 10 lines with 'üèÄ'

### üëâüèº Sum of even numbers in a list

####Multi-line code

In [ ]:
a=[1,2,3,4,5,6]
s=0
for i in range(len(a)+1):
  if i%2 == 0:
    s=s+i
print(s)

####One line code using **sum()**

Sum of numbers in the list is required everywhere. Python provide an inbuilt function sum() which sums up the numbers in the list.

In [ ]:
a=[1,2,3,4,5,6]
s=sum([num for num in a if num%2 == 0]) #list comprehension 
print(s)

In [ ]:
#practice
# get the sum of numbers that are divisble by 6 in an array of [10,12,36,42,60,5,30,6]
a=[10,12,36,42,60,5,30,6]

###üëâüèº Deleting multiple elements from a list

#### Multi line code

In [ ]:
a=[1,2,3,4,5]
del a[1]
print(a)

In [ ]:
del a[2]
print(a)

#### one line code using **slicing**

In [ ]:
a=[1,2,3,4,5]
del a[1::2]
print(a)

### üëâüèº Creating lists

In [ ]:
# code 1
ls=[i for i in range(5)] #list comprehension 
print('list 1',ls)

In [ ]:
#code 2
l = list(range(5))
print('list 2',l)

###üëâüèº Generating groups

In [ ]:
groups = [(a,b) for a in ['a','b'] for b in [1,2,3]] #list comprehension 
groups

In [ ]:
#practice
'''Our goal is to create a new training data sample from our data‚Äîa list of lists, 
each consisting of six floats‚Äîby including only every other float value from the original data set to 
create a a list of lists, each consisting of three floats. '''

## Data (daily stock prices ($))
price = [[9.9, 9.8, 9.8, 9.4, 9.5, 9.7],
         [9.5, 9.4, 9.4, 9.3, 9.2, 9.1],
         [8.4, 7.9, 7.9, 8.1, 8.0, 8.0],
         [7.1, 5.9, 4.8, 4.8, 4.7, 3.9]]

###üëâüèº Simulating toss of a coin

In [ ]:
# random library is used to make random numbers.
import random #important to import this library
random.choice(['Head','Tail'])

In [ ]:
#practice
#simulate a rolling dice

###üëâüèº  Finding factorial

n! = nx(n-1)x....2x1

**e.g:** 5! = 5x4x3x2x1=120

####Multi-line code

In [ ]:
num=6
factorial=1; 
if num<0:
   print("Factorial does not defined for negative integer");
elif(num==0):
    print("The factorial of 0 is 1");
else:
  while(num>0):
        factorial=factorial*num
        
        num=num-1
        
  print(factorial)

####One line code using **math lib**

In [ ]:
import math #important to import this library
num=6
math.factorial(num)

###üëâüèºZip function to format databases

The zip() function takes iterables iter_1, iter_2, ..., iter_n and aggregates them into a single iterable by aligning the corresponding i-th values into a single tuple. The result is an iterable of tuples. For example, consider these two lists:

             [1,2,3]
             [4,5,6]

If you zip them together‚Äîafter a simple data type conversion, as you‚Äôll see in a moment‚Äîyou‚Äôll get a new list:

             [(1,4), (2,5), (3,6)]

Unzipping them back into the original tuples requires two steps. First, you remove the outer square bracket of the result to get the following three tuples:

             (1,4)
             (2,5)
             (3,6)

     
Then when you zip those together, you get the new list:

 [(1,2,3), (4,5,6)]

###Example

Now, imagine you work in the IT branch of the controlling department of your company. You maintain the database of all employees with the column names: 'name', 'salary', and 'job'. However, your data is out of shape‚Äî it‚Äôs a collection of rows in the form ('Bob', 99000, 'mid-level manager'). You want to associate your column names to each data entry to bring it into the readable form {'name': 'Bob', 'salary': 99000, 'job': 'mid-level manager'}. How can you achieve that?

In [ ]:
## Data
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'mid-level manager'),
           ('Frank', 87000, 'CEO')]
## One-Liner
db = [dict(zip(column_names, row)) for row in db_rows]
## Result
print(db)

In [ ]:
#practice
#map the names, roll no. and marks of the students and put it in a list
name = [ "Jenny", "Christy", "Monica", "Vicky"]
roll_no = [ 4, 1, 3, 2 ]
marks = [90, 80, 75]

###üëâüèº Accumulate( )

itertools.accumulate(iterable[, func]) 

Makes an iterator that returns accumulated sum or accumulated results of other binary functions which is mentioned in func-parameter.
If func is supplied, it should be a function of two arguments. Elements of the input iterable may be any type that can be accepted as arguments to func.
If no function is passed, addition takes place by default. If the input iterable is empty, the output iterable will also be empty.

In [ ]:
from itertools import accumulate
from operator import mul

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(accumulate(numbers, mul))

In [ ]:
#practice
#use accumulate function to find running max of list 'test'.
test=[23,43,10,20,15,30,23,1,50]

###üëâüèº Reduce( )

Apply function of two arguments cumulatively to the items of iterable, from left to right, so as to reduce the iterable to a single value. 

functools.reduce(function, iterable,initializer)

If the optional initializer is present, it is placed before the items of the iterable in the calculation, and serves as a default when the iterable is empty.
If initializer is not given and iterable contains only one item, the first item is returned.

In [ ]:
from functools import reduce
reduce(mul, numbers)

In [ ]:
#practice
#use reduce function to find running max of list 'test'.

Difference between reduce() and accumulate()

* reduce() will return only an accumulated value.
* accumulate() will return the running accumulated value.

###üëâüèº Finding all subsets of a set in one line.

In [ ]:
from itertools import combinations
print(list(combinations([1,2,3,4],2)))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [ ]:
#practice
'''Say you want to eat only two fruits from given fruits, now randomly choose one 
from all possible combbinations that you can eat!'''
fruits=['orange','mango','litchi','stawberry','grapes']

###üëâüèº Counting occurrence of a pattern

Regular Expressions, often shortened as regex, are a sequence of characters used to check whether a pattern exists in a given text (string) or not. If you've ever used search engines, search and replace tools of word processors and text editors - you've already seen regular expressions in use.

You will start with importing re - Python library that supports regular expressions.

In [ ]:
import re
len(re.findall('python','python is a programming language. python is python'))

In [ ]:
#practice
#how many times does word 'better' comes in the zen of python
s='''Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!'''

###üëâüèº Replacing a text with some other text

In [ ]:
"python is a programming language. python is python".replace("python","java")

In [ ]:
#practice
#replace 'better' with 'best' in the zen of python